</div>
</div>
</div>

</div>

<script>
    // using context
    $('.index .ui.sidebar')
        .sidebar({
            context: $('.index .bottom.segment')
        })
        .sidebar('attach events', '.index .menu .item');
</script>


</body>

</html>