<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends List</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <script src="/js/script.js"></script>

</head>

<body>

<div class="index ">
    <div class=" ui top attached ">
        <div class="ui top attached menu massive">
            <a class="item ">
                <i class="sidebar icon"></i>
                Menu
            </a>
        </div>
        <div class="ui bottom attached segment pushable">
            <div class="ui  inverted labeled icon left inline vertical sidebar menu uncover animating">
                <p class=" inverted item header">
                    <i class="hand peace outline  icon"></i>
                    Friends List
                </p>
                <a href="/friends" class="item">
                    <i class="home icon"></i>
                    Home
                </a>
                <a href="/friends/new" class="item">
                    <i class="smile icon"></i>
                    Add a Friend
                </a>
            </div>
            <div class="pusher">